body,html{

  padding: 50px;
  font-family: "helvetica Neue", Arial, Helvetica, sans-serif;


}

input{
 font-size: 1.3rem;
 width: 100%;
 padding: 10px;
 border: solid 1px rgba(0,0,0,0.1);
 border-radius: 6px;
 color: gray;

}
.conten_card{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  
}
.cuadro_img {
  width: 320px;
  flex-wrap: wrap;
  float: left;
  border: solid 1px rgba(0,0,0,0.2) ; 
  overflow: hidden;
  margin: 20px;
  display: flex;
  border-radius: 5px;
  
}
.cuadro_img p{
 height: 30px; 
 margin-left: auto;
 margin-right: auto;
 
}
img{
  width: 100%;
  height: 200px ;
  float: left;
  
  
}